body {
  background-color: #111; /* dark gray */
}

article {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #222; /* dark gray */
  color: #ccc; /* bright gray */
  text-align: justify;
}

a {
  color: #fff; /* white */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff; /* white */
}

code {
  background-color: #444;
  padding: 2px 4px;
  border-radius: 2px;
}

